{% extends 'base.html' %}

{% block title %} About {% endblock title  %}

{% block body %}
<br>
<div class="container" style="height: 400px, width: 800px;">
    <div class="row">
      <div class="col text-center">
        <img src="/static/c47.png" class="w-100" alt="..." style="height: 500px;">
      </div>
    </div>
  </div>
  <br><br><br>
  <h3 style="text-align: center;"><b><i>We are a one-stop solution to all your transport needs</i></b></h3><br><br><br>
  <div class="container">
    <div class="box">
        <div>
            <h5 style="text-align: left;"><u>OUR PRINCIPLES & GUIDING VALUES INSPIRE US TO: </u></h4><br>
                <ul>
                    <li>Deliver unparalleled, competitive services to our valued customers, fostering strong partnerships with like-minded vendors who share our vision for excellence.</li>
                    <li>Swiftly and effectively address any customer service concerns, employing the most efficient corrective measures to ensure utmost satisfaction for our cherished clientele.</li>
                    <li>Respect and value each employee, actively seeking their input and insights on continuous service enhancement.</li>
                    <li>Embrace fairness in all aspects, staunchly opposing any form of discrimination based on religion, caste, sex, creed, and encouraging inclusive problem-solving and creativity among our supervisors and team members.</i>
                </ul>
        </div>
        <br><br>
        <div>
            <h5 style="text-align: left;"><u>MISSION STATEMENT: </u></h4><br>
                <p>Rental Cars aims to undertake profitable business by providing safe, efficient and cost effective logistics and transport to its clients. It strives to implement industry best practices with regard to HSE and incorporate any additional HSE controls as required by its clients with commercial competitiveness.</p>
        </div>
        <br><br>
        <div>
            <h5 style="text-align: left;"><u>OUR VALUES: </u></h4><br>
                <ul>
                    <li><b>Professionalism</b></li>
                    <li><b>Client Satisfaction for Long-Term Relationship</b></li>
                    <li><b>Excellence and Commitment</b></li>
                    <li><b>Employees are part of our winning team</b></li>
                </ul>
                <p>We will be delighted to be of any service to you. Please do contact our listed offices for a more personal and in-depth discussion regarding your current or future rental needs or email us at info@ccr.com.pk. Thank you in advance for your patronage.</p>
        </div>
    </div>
  </div>
{% endblock body %}