{% extends 'base.html' %}

{% block title %} Gold {% endblock title  %}

{% block body %}
<br>
<div class="container" style="height: 400px, width: 800px;">
    <div class="row">
      <div class="col text-center">
        <img src="/static/c25.png" class="w-100" alt="..." style="height: 500px;">
      </div>
    </div>
  </div>
  <br><br>
  <h1 style="text-align: center; color: gold"> GOLD CLASS</h1><br><br>
  <div class=rent>
<div class="container">
    <div class="row">
        <!-- Place your cards here -->
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c27.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">KIA Sportage</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 70px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 10000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c28.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Toyota Fortuner</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 80px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 25000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c29.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Toyota Landcruiser</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 90px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 80,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c30.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 40px">Toyota Landcruiser Prado</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 70px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 70,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c31.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">MG HS</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 60px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 12,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c32.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Hyundai Tucson</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 80px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 12,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c33.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Toyota Hilux</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 80px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 15,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c34.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Honda Vezel</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 80px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 12,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <a href="/Booking" class="rent-box" style="text-decoration: none;">
                    <div class="box-child">
                        <figure style="text-align: center;">
                            <img src="/static/c36.jfif">
                        </figure>
                        <h4 style="color: black; padding-left: 110px">Oshan X7</h4>
                        <ul style="list-style-type: none;">
                            <li style="border-top:1px solid #e4e4e4; padding-left: 70px">
                                <span>Per Day</span>
                                <strong style="padding-left: 10px; color: #FFA500">Rs. 15,000</strong>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <!-- Add more cards as needed -->
    </div>
</div>
</div>
{% endblock body %}